
html, body {
  max-width: 100%;
}


.column {
  padding: 20px;
}

.left, .right {
  flex-grow: 1;
}

.row {
  display: flex;
  flex-wrap: wrap; /* This allows elements to wrap if needed */
}

.left {
  flex-basis: 25%; /* Starting width of the left column */
}

.right {
  flex-basis: 75%; /* Starting width of the right column */
}

* {
  box-sizing: border-box;
}

body {
  background-color: #404040;
  color: #cadbde;
  font-size: 18px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


input[type=text] {
  size: "4";
  box-sizing: border-box;
  border: 3px solid #ccc;
  color: black;
  outline: none;
}


p {
  color:#cadbde;
  font-size: 18px;
}

div.aligned {
  text-align: center;
}

.center {
  margin: auto;
  display: block;
  text-align: center;
  width: 75%;
}


.center_research {
  margin: auto;
  display: block;
}



p.aligned_research {
  text-align: center;
  color:rgb(192, 162, 80)
}
h3.aligned {
  text-align: center;
}

p.mission {
  font-style: italic;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}


